/* * Skeleton V2.0.4 * Copyright 2014, Dave Gamache * www.getskeleton.com * Free to use under the MIT license. * http://www.opensource.org/licenses/mit-license.php * 12/29/2014 */
/* Table of contents –––––––––––––––––––––––––––––––––––––––––––––––––– - Grid - Base Styles - Typography - Links - Buttons - Forms - Lists - Code - Tables - Spacing - Utilities - Clearing - Media Queries */
/* Grid –––––––––––––––––––––––––––––––––––––––––––––––––– */
.sami-skeleton {
	/* For devices larger than 400px */
	/* For devices larger than 550px */
	/* Base Styles –––––––––––––––––––––––––––––––––––––––––––––––––– */
	/* NOTE html is set to 62.5% so that all the REM measurements throughout Skeleton are based on 10px sizing. So basically 1.5rem = 15px :) */
	/* Typography –––––––––––––––––––––––––––––––––––––––––––––––––– */
	/* Larger than phablet */
	/* Links –––––––––––––––––––––––––––––––––––––––––––––––––– */
	/* Buttons –––––––––––––––––––––––––––––––––––––––––––––––––– */
	/* Forms –––––––––––––––––––––––––––––––––––––––––––––––––– */
	/* Removes awkward default styles on some inputs for iOS */
	/* Lists –––––––––––––––––––––––––––––––––––––––––––––––––– */
	/* Code –––––––––––––––––––––––––––––––––––––––––––––––––– */
	/* Tables –––––––––––––––––––––––––––––––––––––––––––––––––– */
	/* Spacing –––––––––––––––––––––––––––––––––––––––––––––––––– */
	/* Utilities –––––––––––––––––––––––––––––––––––––––––––––––––– */
	/* Misc –––––––––––––––––––––––––––––––––––––––––––––––––– */
	/* Clearing –––––––––––––––––––––––––––––––––––––––––––––––––– */
	/* Self Clearing Goodness */
	/* Media Queries –––––––––––––––––––––––––––––––––––––––––––––––––– */
	/* Note: The best way to structure the use of media queries is to create the queries near the relevant code. For example, if you wanted to change the styles for buttons on small devices, paste the mobile query code up in the buttons section and style it there. */
	/* Larger than mobile */
	/* Larger than phablet (also point when grid becomes active) */
	/* Larger than tablet */
	/* Larger than desktop */
	/* Larger than Desktop HD */
}
 .sami-skeleton .container {
	 position: relative;
	 width: 100%;
	 max-width: 960px;
	 margin: 0 auto;
	 padding: 0 20px;
	 box-sizing: border-box;
}
 .sami-skeleton .column, .sami-skeleton .columns {
	 width: 100%;
	 float: left;
	 box-sizing: border-box;
}
 @media (min-width: 400px) {
	 .sami-skeleton .container {
		 width: 85%;
		 padding: 0;
	}
}
 @media (min-width: 550px) {
	 .sami-skeleton {
		/* Offsets */
	}
	 .sami-skeleton .container {
		 width: 80%;
	}
	 .sami-skeleton .column, .sami-skeleton .columns {
		 margin-left: 4%;
	}
	 .sami-skeleton .column:first-child, .sami-skeleton .columns:first-child {
		 margin-left: 0;
	}
	 .sami-skeleton .one.column, .sami-skeleton .one.columns {
		 width: 4.6666666667%;
	}
	 .sami-skeleton .two.columns {
		 width: 13.3333333333%;
	}
	 .sami-skeleton .three.columns {
		 width: 22%;
	}
	 .sami-skeleton .four.columns {
		 width: 30.6666666667%;
	}
	 .sami-skeleton .five.columns {
		 width: 39.3333333333%;
	}
	 .sami-skeleton .six.columns {
		 width: 48%;
	}
	 .sami-skeleton .seven.columns {
		 width: 56.6666666667%;
	}
	 .sami-skeleton .eight.columns {
		 width: 65.3333333333%;
	}
	 .sami-skeleton .nine.columns {
		 width: 74%;
	}
	 .sami-skeleton .ten.columns {
		 width: 82.6666666667%;
	}
	 .sami-skeleton .eleven.columns {
		 width: 91.3333333333%;
	}
	 .sami-skeleton .twelve.columns {
		 width: 100%;
		 margin-left: 0;
	}
	 .sami-skeleton .one-third.column {
		 width: 30.6666666667%;
	}
	 .sami-skeleton .two-thirds.column {
		 width: 65.3333333333%;
	}
	 .sami-skeleton .one-half.column {
		 width: 48%;
	}
	 .sami-skeleton .offset-by-one.column, .sami-skeleton .offset-by-one.columns {
		 margin-left: 8.6666666667%;
	}
	 .sami-skeleton .offset-by-two.column, .sami-skeleton .offset-by-two.columns {
		 margin-left: 17.3333333333%;
	}
	 .sami-skeleton .offset-by-three.column, .sami-skeleton .offset-by-three.columns {
		 margin-left: 26%;
	}
	 .sami-skeleton .offset-by-four.column, .sami-skeleton .offset-by-four.columns {
		 margin-left: 34.6666666667%;
	}
	 .sami-skeleton .offset-by-five.column, .sami-skeleton .offset-by-five.columns {
		 margin-left: 43.3333333333%;
	}
	 .sami-skeleton .offset-by-six.column, .sami-skeleton .offset-by-six.columns {
		 margin-left: 52%;
	}
	 .sami-skeleton .offset-by-seven.column, .sami-skeleton .offset-by-seven.columns {
		 margin-left: 60.6666666667%;
	}
	 .sami-skeleton .offset-by-eight.column, .sami-skeleton .offset-by-eight.columns {
		 margin-left: 69.3333333333%;
	}
	 .sami-skeleton .offset-by-nine.column, .sami-skeleton .offset-by-nine.columns {
		 margin-left: 78%;
	}
	 .sami-skeleton .offset-by-ten.column, .sami-skeleton .offset-by-ten.columns {
		 margin-left: 86.6666666667%;
	}
	 .sami-skeleton .offset-by-eleven.column, .sami-skeleton .offset-by-eleven.columns {
		 margin-left: 95.3333333333%;
	}
	 .sami-skeleton .offset-by-one-third.column, .sami-skeleton .offset-by-one-third.columns {
		 margin-left: 34.6666666667%;
	}
	 .sami-skeleton .offset-by-two-thirds.column, .sami-skeleton .offset-by-two-thirds.columns {
		 margin-left: 69.3333333333%;
	}
	 .sami-skeleton .offset-by-one-half.column, .sami-skeleton .offset-by-one-half.columns {
		 margin-left: 52%;
	}
}
 .sami-skeleton html {
	 font-size: 62.5%;
}
 .sami-skeleton body {
	 font-size: 1.5em;
	/* currently ems cause chrome bug misinterpreting rems on body element */
	 line-height: 1.6;
	 font-weight: 400;
	 font-family: "Raleway", "HelveticaNeue", "Helvetica Neue", Helvetica, Arial, sans-serif;
	 color: #222;
}
 .sami-skeleton h1, .sami-skeleton h2, .sami-skeleton h3, .sami-skeleton h4, .sami-skeleton h5, .sami-skeleton h6 {
	 margin-top: 0;
	 margin-bottom: 2rem;
	 font-weight: 300;
	 word-break: break-all;
}
 .sami-skeleton h1 {
	 font-size: 4rem;
	 line-height: 1.2;
	 letter-spacing: -0.1rem;
}
 .sami-skeleton h2 {
	 font-size: 3.6rem;
	 line-height: 1.25;
	 letter-spacing: -0.1rem;
}
 .sami-skeleton h3 {
	 font-size: 3rem;
	 line-height: 1.3;
	 letter-spacing: -0.1rem;
}
 .sami-skeleton h4 {
	 font-size: 2.4rem;
	 line-height: 1.35;
	 letter-spacing: -0.08rem;
}
 .sami-skeleton h5 {
	 font-size: 1.8rem;
	 line-height: 1.5;
	 letter-spacing: -0.05rem;
}
 .sami-skeleton h6 {
	 font-size: 1.5rem;
	 line-height: 1.6;
	 letter-spacing: 0;
}
 @media (min-width: 550px) {
	 .sami-skeleton h1 {
		 font-size: 5rem;
	}
	 .sami-skeleton h2 {
		 font-size: 4.2rem;
	}
	 .sami-skeleton h3 {
		 font-size: 3.6rem;
	}
	 .sami-skeleton h4 {
		 font-size: 3rem;
	}
	 .sami-skeleton h5 {
		 font-size: 2.4rem;
	}
	 .sami-skeleton h6 {
		 font-size: 1.5rem;
	}
}
 .sami-skeleton p {
	 margin-top: 0;
}
 .sami-skeleton a {
	 color: #1eaedb;
}
 .sami-skeleton a:hover {
	 color: #0fa0ce;
}
 .sami-skeleton .button, .sami-skeleton button, .sami-skeleton input[type="submit"], .sami-skeleton input[type="reset"], .sami-skeleton input[type="button"] {
	 display: inline-block;
	 height: 38px;
	 padding: 0 30px;
	 color: #555;
	 text-align: center;
	 font-size: 11px;
	 font-weight: 600;
	 line-height: 38px;
	 letter-spacing: 0.1rem;
	 text-transform: uppercase;
	 text-decoration: none;
	 white-space: nowrap;
	 background-color: transparent;
	 border-radius: 4px;
	 border: 1px solid #bbb;
	 cursor: pointer;
	 box-sizing: border-box;
}
 .sami-skeleton .button:hover, .sami-skeleton button:hover, .sami-skeleton input[type="submit"]:hover, .sami-skeleton input[type="reset"]:hover, .sami-skeleton input[type="button"]:hover, .sami-skeleton .button:focus, .sami-skeleton button:focus, .sami-skeleton input[type="submit"]:focus, .sami-skeleton input[type="reset"]:focus, .sami-skeleton input[type="button"]:focus {
	 color: #333;
	 border-color: #888;
	 outline: 0;
}
 .sami-skeleton .button.button-primary, .sami-skeleton button.button-primary, .sami-skeleton input[type="submit"].button-primary, .sami-skeleton input[type="reset"].button-primary, .sami-skeleton input[type="button"].button-primary {
	 color: #fff;
	 background-color: #33c3f0;
	 border-color: #33c3f0;
}
 .sami-skeleton .button.button-primary:hover, .sami-skeleton button.button-primary:hover, .sami-skeleton input[type="submit"].button-primary:hover, .sami-skeleton input[type="reset"].button-primary:hover, .sami-skeleton input[type="button"].button-primary:hover, .sami-skeleton .button.button-primary:focus, .sami-skeleton button.button-primary:focus, .sami-skeleton input[type="submit"].button-primary:focus, .sami-skeleton input[type="reset"].button-primary:focus, .sami-skeleton input[type="button"].button-primary:focus {
	 color: #fff;
	 background-color: #1eaedb;
	 border-color: #1eaedb;
}
 .sami-skeleton input[type="email"], .sami-skeleton input[type="number"], .sami-skeleton input[type="search"], .sami-skeleton input[type="text"], .sami-skeleton input[type="tel"], .sami-skeleton input[type="url"], .sami-skeleton input[type="password"], .sami-skeleton textarea, .sami-skeleton select {
	 height: 38px;
	 padding: 6px 10px;
	/* The 6px vertically centers text on FF, ignored by Webkit */
	 background-color: #fff;
	 border: 1px solid #d1d1d1;
	 border-radius: 4px;
	 box-shadow: none;
	 box-sizing: border-box;
}
 .sami-skeleton input[type="email"], .sami-skeleton input[type="number"], .sami-skeleton input[type="search"], .sami-skeleton input[type="text"], .sami-skeleton input[type="tel"], .sami-skeleton input[type="url"], .sami-skeleton input[type="password"], .sami-skeleton textarea {
	 -webkit-appearance: none;
	 -moz-appearance: none;
	 appearance: none;
}
 .sami-skeleton textarea {
	 min-height: 65px;
	 padding-top: 6px;
	 padding-bottom: 6px;
}
 .sami-skeleton input[type="email"]:focus, .sami-skeleton input[type="number"]:focus, .sami-skeleton input[type="search"]:focus, .sami-skeleton input[type="text"]:focus, .sami-skeleton input[type="tel"]:focus, .sami-skeleton input[type="url"]:focus, .sami-skeleton input[type="password"]:focus, .sami-skeleton textarea:focus, .sami-skeleton select:focus {
	 border: 1px solid #33c3f0;
	 outline: 0;
}
 .sami-skeleton label, .sami-skeleton legend {
	 display: block;
	 margin-bottom: 0.5rem;
	 font-weight: 600;
}
 .sami-skeleton fieldset {
	 padding: 0;
	 border-width: 0;
}
 .sami-skeleton input[type="checkbox"], .sami-skeleton input[type="radio"] {
	 display: inline;
}
 .sami-skeleton label > .label-body {
	 display: inline-block;
	 margin-left: 0.5rem;
	 font-weight: normal;
}
 .sami-skeleton ul {
	 list-style: circle inside;
}
 .sami-skeleton ol {
	 list-style: decimal inside;
}
 .sami-skeleton ol, .sami-skeleton ul {
	 padding-left: 0;
	 margin-top: 0;
}
 .sami-skeleton ul ul, .sami-skeleton ul ol, .sami-skeleton ol ol, .sami-skeleton ol ul {
	 margin: 1.5rem 0 1.5rem 3rem;
	 font-size: 90%;
}
 .sami-skeleton li {
	 margin-bottom: 1rem;
}
 .sami-skeleton code {
	 padding: 0.2rem 0.5rem;
	 margin: 0 0.2rem;
	 font-size: 90%;
	 white-space: nowrap;
	 background: #f1f1f1;
	 border: 1px solid #e1e1e1;
	 border-radius: 4px;
}
 .sami-skeleton pre > code {
	 display: block;
	 padding: 1rem 1.5rem;
	 white-space: pre;
}
 .sami-skeleton th, .sami-skeleton td {
	 padding: 12px 15px;
	 text-align: left;
	 border-bottom: 1px solid #e1e1e1;
}
 .sami-skeleton th:first-child, .sami-skeleton td:first-child {
	 padding-left: 0;
}
 .sami-skeleton th:last-child, .sami-skeleton td:last-child {
	 padding-right: 0;
}
 .sami-skeleton button, .sami-skeleton .button {
	 margin-bottom: 1rem;
}
 .sami-skeleton input, .sami-skeleton textarea, .sami-skeleton select, .sami-skeleton fieldset {
	 margin-bottom: 1.5rem;
}
 .sami-skeleton pre, .sami-skeleton blockquote, .sami-skeleton dl, .sami-skeleton figure, .sami-skeleton table, .sami-skeleton p, .sami-skeleton ul, .sami-skeleton ol, .sami-skeleton form {
	 margin-bottom: 2.5rem;
}
 .sami-skeleton .u-full-width {
	 width: 100%;
	 box-sizing: border-box;
}
 .sami-skeleton .u-max-full-width {
	 max-width: 100%;
	 box-sizing: border-box;
}
 .sami-skeleton .u-pull-right {
	 float: right;
}
 .sami-skeleton .u-pull-left {
	 float: left;
}
 .sami-skeleton hr {
	 margin-top: 3rem;
	 margin-bottom: 3.5rem;
	 border-width: 0;
	 border-top: 1px solid #e1e1e1;
}
 .sami-skeleton .container:after, .sami-skeleton .row:after, .sami-skeleton .u-cf {
	 content: "";
	 display: table;
	 clear: both;
}
 