@media (max-width: 1605px) {
    sami-grid div.sami-grid.sami-grid___card {
        grid-template-columns: repeat(3, 1fr);
    }
}

@media (max-width: 1266px) {
    sami-grid div.sami-grid.sami-grid___card {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media (max-width: 944px) {
    sami-grid div.sami-grid.sami-grid___card {
        grid-template-columns: repeat(1, 1fr);
    }
}