
html,
body {
    background: var(--sami-screen);
}

body {
    background: var(--sami-screen);
    display: initial;
}

.font-bebas-neue {
    font-family: "Bebas Neue", cursive !important;
}
.font-poppins {
    font-family: "Poppins", sans-serif;
}

.sami-card-code___content pre code.hljs {
    overflow-y: hidden !important;
    height: 100%;
}

.sami-card-code___content pre code,
pre code span {
    font-family: monospace !important;
}


/*
@media (max-width: 550px) {

    .blog-index__section-title-header {
        margin-top: 2rem;
        margin-bottom: 2rem;
    }

}
*/