:root {

    --background-dark: #2d3548;
    --background-white: #fff;
    --spacing-l: 24px;
    --text-light: rgba(255, 255, 255, 0.6);
    --text-lighter: rgba(255, 255, 255, 0.9);
    --width-container: 1200px;
}

.card-img-top {
    max-height: 25rem;
    max-width: 25rem;
}

.card-img-icon {
    position: absolute;
    bottom: 0;
    height: 5rem;
}

.card {
    border-style: none;
}

.card-grid {
    /*display: grid;
                        grid-template-columns: repeat(1, 1fr);
                        grid-column-gap: var(--spacing-l);
                        grid-row-gap: var(--spacing-l);
                        max-width: var(--width-container);*/

    width: fit-content;
    transition: filter 200ms linear, transform 200ms linear;
}

.card-grid:hover {

    /*transform: scale(1.05) translateZ(0);*/
}

.card-grid,
.card-grid .card,
.card-grid .card__heading,
.card-grid .card__content,
.card-grid .card__category {
    background: transparent;
    font-family: "Poppins", sans-serif;
}

@media (min-width: 540px) {
    .card-grid {
        /* grid-template-columns: repeat(2, 1fr);*/
    }
}

@media (min-width: 960px) {
    .card-grid {
        /*grid-template-columns: repeat(4, 1fr);*/
    }
}

.card-grid .card {
    list-style: none;
    position: relative;
    border-radius: 0px;
    width: 125px;
    height: auto;
}

.card-grid .card:before {
    content: "";
    display: block;
    padding-bottom: 115%;
    width: 100%;
}

.card-grid .card-content {
    width: 395px;
    height: 320px;
    transform-origin: center;
    transition: filter 200ms linear, transform 200ms linear;
    border-color: hsl(54deg 93% 53%);
    border-left: none;
    border-style: solid!important;
    border-left-style: none;
    line-height: 0;
    background: var(--background-white);
}

.card-grid .card-content a {
    font-size: .8rem;
    color: #282728;
    display: none !important
}

.card-grid .card__background {
    background-size: cover;
    background-position: center;
    transform-origin: center;
    background-color: #cab500;
    width: 40px;
    height: 40px;
}

.card-grid .card__background img {
    max-width: 100%;
    position: absolute;
    bottom: 0;
    right: 0;
    left: 0px;
}

.card-grid #output-iframe {
   /* border-style: none;
    width: 100%;
    padding: 0rem;*/

    border-style: none;
    width: 100%;
    padding: 0rem;
    height: 250px;
    bottom: -55px;
    position: absolute;
}

.card-grid .card:hover .card__background,
.card-grid .card-content:hover {}

.card-grid .card-grid:hover>.card:not(:hover) .card__background {
    filter: brightness(0.5) saturate(0) contrast(1.2) blur(20px);
}

.card-grid .card__content {
    left: 0;
    padding: var(--spacing-l);
    position: absolute;
    top: 0;
}

.card-grid .card__category {
    color: var(--text-light);
    margin-bottom: var(--spacing-s);
    text-transform: uppercase;
    font-size: 13px;
}

.card-grid .card__heading {
    color: var(--text-lighter);
    text-shadow: 2px 2px 20px rgba(0, 0, 0, 0.2);
    line-height: 1.4;
    word-spacing: 100vw;
    font-size: 14px;
}

.card-grid textarea {
    resize: auto;
}

.blog-content-name {
    line-height: 1.1;
    position: absolute;
    right: 10px;
    direction: inherit;
    font-size: 10px;
    line-height: normal;
    text-transform: uppercase;
    direction: rtl;
    text-overflow: ellipsis;
    white-space: nowrap;
    direction: rtlrtl;
    text-align: right;
    bottom: 10px;
}

.card-grid .card-content-code {
    height: 200px;
    font-size: 18px;
}

.card-grid .card-content-code {
    height: 200px;
    font-size: 18px;
}

.card-grid .card-content-code #pre-codes {
    bottom: 25px;
    white-space: break-spaces;
}

.card-grid .card-content-code #pre-codes code {
    background: none;
    line-height: normal;
    font-size: 22px;
    line-height: 1.8;
}

#editor {
    width: 800px;
    height: 600px;
    border: 1px solid grey;
    display: none
}

.card-grid .card-title {
    font-size: 18px;
}

.card-grid .card-subtitle {
    font-size: 14.5px;
}
