pre {
    box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000),
        var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow);
}

.sami-main {
    background: transparent !important;
}
.card-publish {
    border-style: solid;
    background: transparent;
    height: 320px;
    max-width: 520px;
    width: 100%;
    border-width: 1px;
    position: relative;
}
.card-publish .position {
    position: absolute;
    color: var(--sami-white);
    width: 18px;
    height: 35px;
    right: 0px;
    font-weight: normal;
    border-radius: 0px 0px 0px 8px;
    text-align: center;
    font-size: 12px;
}

.card-publish .position span {
    display: flex;
    justify-content: center;
    line-height: 2.5;
}

.card-publish .title {
    font-size: 16px;
    text-align: center;
    margin-top: 5px;
    text-transform: uppercase;
}

.card-publish .subtitle {
    font-size: 14px;
    text-align: center;
    color: #6c757d;
    margin-top: 0rem;
}
.card-publish .footer {
    position: absolute;
    bottom: 5px;
    right: 5px;
    font-size: 10px;
}

.card-publish img {
    width: 30px;
    position: absolute;
    bottom: 0px;
    left: 0px;
}

.card-publish pre code {
    background: transparent;
    margin-top: -20px;
    height: 260px;
    text-align: left;
    overflow: hidden;
}

.content-images canvas {
    margin: auto;
}

.index-card-publish,
.card-publish.after {
    background: white;
    border-width: 4px;
}

.card-publish.after pre code {
    text-wrap: wrap;
    padding-top: 10px;
}

.swiper {
    max-width: 520px;
}
.swiper .swiper-wrapper{
    display: flex;
    align-items: center;
}

.swiper .swiper-button-prev:after,
.swiper .swiper-button-next:after {
    padding: 5px;
    font-size: 11px;
    line-height: 20px;
    font-weight: bolder;
    opacity: 0.5;
    color: var(--sami-white);
    border-style: none;
    outline: none;
    background: var(--sami-dark);
}

.swiper .swiper-button-prev {
    left: -1px;
}
.swiper .swiper-button-next {
    right: -1px;
}

.swiper .swiper-pagination.swiper-pagination-bullets {
    display: none;
}
