.sami-flex-code-view.carousel .slick-prev, .sami-flex-code-view.carousel .slick-next {
    display: none !important;
}

.sami-flex-code-view.carousel .slick-dots {
    width: 260px !important;
    display: flex !important;
    bottom: -70px !important;
}

.sami-flex-code-view.carousel .slick-dots li button:before {
    font-size: 10px !important;
}
