:root {
    --main-color-blue: #0652dd;
    --main-color-white: #ffffff;
    --main-color-black: #000000;
    --main-color-black-secondary: #2d2f33;
    --main-color-black-third: #25262a;
    --main-color-second: #06bfdd;
    --main-color-blue-400: #0651ddb9;
    --main-color-red: rgb(230, 21, 21);
    --main-color-red-second: rgba(230, 21, 21, 0.726);
    --main-color-success: #30b879;
    --main-color-success-second: #c6dfd3;
    --main-font-size-title-lg: 6rem;
    --main-font-size-title-sm: 3rem;
    --main-font-size-content-lg: 1.4rem;
    --main-font-size-content-sm: 1.2rem;
    --main-font-size-input-lg: 1.2rem;
    --main-font-size-input-sm: 1rem;
}

html {
    font-size: 10pt;
    /*
    1 punto equivale a 1/72 pulgadas ó aprox. 0.35 mm

    */
}

* {
    margin: 0;
    padding: 0;
    font-family: "Poppins", sans-serif;
}

body {
    display: grid;
    grid-template-areas: "header" "main" "footer";
    font-size: var(--main-font-size-content-lg);
}

.h1 {
    font-size: 2em;
}

.h2 {
    font-size: 1.5em;
}

.h3 {
    font-size: 1.33em;
}

.h4 {
    font-size: 1.05em;
}

.h5 {
    font-size: 0.83em;
}

.bold {
    font-weight: bold;
}

.pl-2 {
    padding-left: 2em;
}

.d-none {
    display: none !important;
}

.d-block {
    display: block !important;
}

.invisible {
    visibility: hidden !important;
}
/* Iniciar dropdown */

.dropdown {
    position: relative;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.dropdown .button {
    padding: 10px 30px 15px 20px;
    cursor: pointer;
}

.dropdown .button:after {
    content: "";
    position: absolute;
    top: 50%;
    right: 12px;
    transform: translateY(-50%);
    width: 0;
    height: 0;
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    border-top: 5px solid black;
}

.dropdown input {
    display: none;
}

.dropdown input + ul {
    display: none;
}

.dropdown input:checked + ul {
    display: block;
}

.dropdown ul {
    position: absolute;
    top: 75%;
    border: 1px solid #ccc;
    border-radius: 4px;
    padding: 0;
    margin: 2px 0 0 0;
    box-shadow: 0 0 6px 0 rgb(0 0 0 / 10%);
    background-color: #ffffff;
    list-style-type: none;
    right: 0;
    width: 100%;
}

.dropdown ul li {
    cursor: pointer;
    white-space: nowrap;
    display: grid;
}
/*
.dropdown ul li:nth-child(1){
    border-bottom-style: solid;
    border-radius: 0px;
    border-width: 1px;
    margin: 0px;
    border-color: #9b9999;
}*/

.dropdown ul li:hover {
    background-color: #f6f6f6;
}
.dropdown ul li a {
    text-decoration: none;
    color: black;
    padding: 10px 20px;
}

/* Fin dropdown */
/* Iniciar los alerts  */

.alert {
    position: relative;
    padding: 1rem 1rem;
    margin-bottom: 1rem;
    border: 1px solid transparent;
    border-radius: 0.25rem;
}

.alert-success {
    color: var(--main-color-black);
    background-color: var(--main-color-success);
    border-color: var(--main-color-success);
}

/* Finalizar los alerts  */

/* Iniciar el loading  */

.loader {
    color: var(--main-color-blue);
    font-family: "Times New Roman", Times, serif, Arial, Helvetica, sans-serif,
        Consolas, Menlo, Monaco, monospace;
    font-weight: bold;
    font-size: 30vh;
    opacity: 0.8;
    position: fixed;
    z-index: 999;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    background: var(--main-color-white);
}

.loader span {
    display: inline-block;
    -webkit-animation: pulse 0.4s alternate infinite ease-in-out;
    animation: pulse 0.4s alternate infinite ease-in-out;
}

.loader span:nth-child(odd) {
    -webkit-animation-delay: 0.4s;
    animation-delay: 0.4s;
}

@-webkit-keyframes pulse {
    to {
        transform: scale(0.8);
        opacity: 0.5;
    }
}

@keyframes pulse {
    to {
        transform: scale(0.8);
        opacity: 0.5;
    }
}

/* Termina el loading  */

header:nth-child(1) {
    grid-area: header;
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    background: var(--main-color-white);
    box-shadow: 4px 5px 6px 2px rgb(0 0 0 / 16%), 0 2px 10px 0 rgb(0 0 0 / 17%);
    z-index: 9;
}

/***
* - 1 fr es igual a una parte del espacio disponible.
* - Define el espacio de ocupara cada elemento y la cantidad de columnas que tendrá el espacio.
***/

header:nth-child(1) > nav {
    display: grid;
    grid-template-columns: 250px 1fr;
}

header nav ul li:nth-child(5) {
    background: var(--sami-screen);
}

header nav ul li:nth-child(5) a {
    color: var(--sami-white)!important;
}

header:nth-child(1) > nav > ul {
    margin: 0;
    padding: 0;
    list-style: none;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 90px;
    text-align: center;
}

header:nth-child(1) > nav > ul > li {
    /*padding: 2.5%;
    padding-top: 10%;
    padding-bottom: 10%;
    line-height: 3;*/
}

header:nth-child(1) > nav > ul > li > a,
header:nth-child(1) > nav > div > a:last-child {
    display: block;
    text-decoration: none;
    color: var(--main-color-black);
    font-size: 18px;
    padding: 2.5%;
    padding-top: 10%;
    padding-bottom: 10%;
    line-height: 3;
}

header:nth-child(1) > nav > div {
    align-self: center;
    padding-left: 1%;
}

header:nth-child(1) > nav > div > a:last-child {
    padding-top: 2.5%;
    padding-bottom: 2.5%;
    /*visibility: hidden;*/
    display: none;
}

header:nth-child(1) > nav > div > a:first-child {
    display: block;
}

header:nth-child(1) > nav > div > a > img {
    max-width: 65px;
    width: 100%;
    padding-left: 1em;
    padding-right: 1em;
}

main {
    grid-area: main;
}

main section {
    height: 50rem;
}

footer:last-child {
    grid-area: footer;
}

footer:last-child > p {
    margin: 0;
    padding: 0;
    text-align: center;
    background-color: var(--main-color-black);
    color: var(--main-color-white);
    padding-top: 0.5%;
    padding-bottom: 0.5%;
}

header:nth-child(1) > nav > ul > li:last-child {
    display: none;
}

main > header:nth-child(1) img {
    width: 25px;
}

main > header:nth-child(1) {
    display: none;
}

@media (max-width: 1380px) {
    header:nth-child(1) > nav {
        display: grid;
        grid-template-columns: 1fr;
    }

    header:nth-child(1) > nav > div {
        display: none;
    }

    header:nth-child(1) > nav > ul > li {
        text-align: center;
    }
}

@media (max-width: 736px) {
    header:nth-child(1) > nav > ul > li > a,
    header:nth-child(1) > nav > div > a {
        font-size: 16px;
    }
}

@media (max-width: 645px) {
    body {
        font-size: var(--main-font-size-content-sm);
    }

    .h1 {
        font-size: 1.8em;
    }

    .h2 {
        font-size: 1.3em;
    }

    .h3 {
        font-size: 1.11em;
    }

    .h4 {
        font-size: 0.85em;
    }

    .h5 {
        font-size: 0.63em;
    }

    header:nth-child(1) {
        display: none;
    }

    main > header:nth-child(1) {
        display: block;
    }

    main > header:nth-child(1) button {
        background: none;
        border-style: none;
        padding: 1em;
        cursor: pointer;
    }

    header:nth-child(1).header-close {
        height: 100%;
        overflow-x: scroll;
        position: fixed;
        z-index: 99;
        width: 100%;
        display: block;
        overflow-x: hidden;
    }

    header:nth-child(1).header-close > nav > div {
        display: block;
        text-align: center;
        margin-top: 1em;
    }

    header:nth-child(1).header-close > nav > div a:last-child {
        display: none;
    }

    header:nth-child(1).header-close > nav > ul {
        grid-auto-rows: 1fr;
        grid-template-columns: 1fr;
    }

    header:nth-child(1) > nav > ul > li > a,
    header:nth-child(1) > nav > div > a {
        font-size: var(--main-font-size-content-sm);
    }

    header:nth-child(1).header-close > nav > ul > li:last-child {
        display: block;
    }

    header:nth-child(1).header-close > nav > ul > li:last-child button {
        background: var(--main-color-red);
        color: var(--main-color-white);
        border-style: none;
        padding: 1em;
        width: 100%;
        text-transform: uppercase;
        font-size: var(--main-font-size-content-sm);
        cursor: pointer;
    }

    header:nth-child(1).header-close > nav > ul > li:last-child button:hover {
        background: var(--main-color-red-second);
    }

    header:nth-child(1) > nav > ul > li {
        padding-top: 2.5%;
        padding-bottom: 2.5%;
    }

    header:nth-child(1) > nav > ul > li > a,
    header:nth-child(1) > nav > div > a:last-child {
        padding-top: 2%;
        padding-bottom: 2%;
    }
}

@media (max-width: 425px) {
    header:nth-child(1) > nav > ul > li {
        align-self: center;
        line-height: 1.2;
    }
}
