
main > section:nth-child(2) {
    padding-top: 2%;
    padding-bottom: 2%;
    height: 100%;
}
main > section:nth-child(2) > p:nth-child(1){
    text-align: center;
    font-family: 'Bebas Neue', cursive;
    font-size: 60px;
    color: var(--main-color-blue);
}

main > section:nth-child(2)  UL{
    TEXT-ALIGN: CENTER;
    LIST-STYLE: NONE;
}
main > section:nth-child(2) h1{
    text-align: center;
    font-family: 'Bebas Neue', cursive;
    font-size: 40px;
}
main > section:nth-child(2) form div{
    display: grid;
}

main > section:nth-child(2) form{
    max-width: 650px;
    margin: auto;
    width: 100%;
    margin-top: 3em;
    margin-bottom: 4em;
}
main > section:nth-child(2) form input{
    border-style: solid;
    border-width: 2px;
    border-left-style: none;
    border-right-style: none;
    border-top-style: none;
    font-size: var(--main-font-size-input-lg);
    height: 45px;
    margin-bottom: 1em;
    outline: none;
}
main > section:nth-child(2) form textarea{
    border-style: solid;
    border-width: 2px;
    border-left-style: none;
    border-right-style: none;
    border-top-style: none;
    font-size: var(--main-font-size-input-lg);
    margin-bottom: 1em;
    outline: none;
    height: 150px;
}

main > section:nth-child(1) form input:active,
main > section:nth-child(1) form textarea:active,
main > section:nth-child(1) form input:hover,
main > section:nth-child(1) form textarea:hover
{
    border-color: var(--main-color-blue);
    
}
main > section:nth-child(2) form input[type="submit"]{
    border-style: none;
    background-color: var(--main-color-blue);
    color: white;
}
main > section:nth-child(2) form input[type="submit"]:hover{
    background-color: var(--main-color-blue-400);
    cursor: pointer;
}
main > section:nth-child(2) form input[type="submit"]:active{
    background-color: var(--main-color-blue);
}
@media (max-width: 768px) {/*Tablet*/
    main > section:nth-child(2) form{
        max-width: 500px;
       
    }
}
@media (max-width: 645px) {
    main > section:nth-child(2) > p:nth-child(1) {
        font-size: 3em;
    }
    main > section:nth-child(2) UL {
        padding: 0;
        font-size: 0.8em;
    }
    main > section:nth-child(2) form input,
    main > section:nth-child(2) form textarea{
        font-size: var(--main-font-size-input-sm);

    }
    
  
}
@media (max-width: 550px) {/*Tablet*/
    main > section:nth-child(2) form{
        max-width: 400px;
       
    }
}

@media (max-width: 425px) {/*Mobile L*/
    main > section:nth-child(2) form{
        max-width: 370px;
    }
    
}
@media (max-width: 375px) {/*Mobile M*/
    main > section:nth-child(2) form{
        max-width: 315px;
    }
    main > section:nth-child(2) UL li{
        display: grid;
    }
}
@media (max-width: 320px) {/*Mobile S*/
    main > section:nth-child(2) form{
        max-width: 315px;
    }

}
