.sami-skeleton table {

    overflow-x: scroll;
    max-width: 1200px;
    display: block;
    margin: auto 0;
}

.sami-skeleton .table-wrapper table {
    border-color: inherit;
    text-indent: 0;
    border-radius: 8px;
    border-style: hidden;
    box-shadow: inset 0 0 0 1px #dee3ea;
    display: table;
}

.sami-skeleton .table-wrapper table tr {
    border-top: 1px solid #dee3ea;
}

.sami-skeleton .table-wrapper table td,
.sami-skeleton .table-wrapper table th {
    border: solid #dee3ea 1px;
    padding: 1rem;
    padding-left: 15px !important;
    padding-right: 15px !important;
}

.sami-doc-icon-content {
    display: flex!important;
    flex-wrap: wrap;
    justify-content: space-around;
    width: 100%;
}

.sami-doc-icon-content div {

    flex-basis: calc(100% / 6);
    display: flex;
    flex-direction: column;
    text-align: center;
}
.sami-doc-icon-container{
    max-width: 1025px;
    margin: auto;
    width: 95%;
}
