:root {
    --main-color-blue: #0652dd;
    --main-color-purple: #372eaf;
    --main-color-white: #ffffff;
    --main-color-black: #000000;
    --main-color-black-secondary: #2d2f33;
    --main-color-black-third: #25262a;
    --main-color-second: #06bfdd;
    --main-color-blue-400: #0651ddb9;
    --main-color-red: rgb(230, 21, 21);
    --main-color-red-second: rgba(230, 21, 21, 0.726);
    --main-color-success: #30b879;
    --main-color-success-second: #c6dfd3;
    --main-font-size-title-lg: 6rem;
    --main-font-size-title-sm: 3rem;
    --main-font-size-content-lg: 1.4rem;
    --main-font-size-content-sm: 1.2rem;
    --main-font-size-input-lg: 1.2rem;
    --main-font-size-input-sm: 1rem;
    --background-dark: #2d3548;
    --text-light: rgba(255, 255, 255, 0.6);
    --text-lighter: rgba(255, 255, 255, 0.9);
    --spacing-s: 8px;
    --spacing-m: 16px;
    --spacing-l: 24px;
    --spacing-xl: 32px;
    --spacing-xxl: 64px;
    --width-container: 1200px;
}

html {
    height: 100%;
    font-size: 10pt;
    font-family: "Poppins", sans-serif;
}

body {
    height: 100%;
    background: var(--main-color-blue);
    font-family: "Poppins", sans-serif;
}


/* Iniciar el loading  */

.loader {
    color: var(--main-color-blue);
    font-family: 'Bebas Neue', cursive;
    top: 0;
    font-weight: bold;
    font-size: 30vh;
    opacity: 0.8;
    position: fixed;
    z-index: 9999;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    background: var(--main-color-white);
}

.loader span {
    display: inline-block;
    -webkit-animation: pulse 0.4s alternate infinite ease-in-out;
    animation: pulse 0.4s alternate infinite ease-in-out;
}

.loader span:nth-child(odd) {
    -webkit-animation-delay: 0.4s;
    animation-delay: 0.4s;
}

@-webkit-keyframes pulse {
    to {
        transform: scale(0.8);
        opacity: 0.5;
    }
}

@keyframes pulse {
    to {
        transform: scale(0.8);
        opacity: 0.5;
    }
}


/* Termina el loading  */

.hero-section {
    align-items: flex-start;
    background-image: linear-gradient( 15deg, var(--main-color-blue) 0%, var(--main-color-blue) 150%);
    display: flex;
    min-height: 100%;
    justify-content: center;
    padding: var(--spacing-xxl) var(--spacing-l);
}

.card {
    border-style: none;
}

.card-grid {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-column-gap: var(--spacing-l);
    grid-row-gap: var(--spacing-l);
    max-width: var(--width-container);
    width: 100%;
}

.card-grid,
.card-grid .card,
.card-grid .card__heading,
.card-grid .card__content,
.card-grid .card__category {
    background: transparent;
}

@media (min-width: 540px) {
    .card-grid {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media (min-width: 960px) {
    .card-grid {
        grid-template-columns: repeat(4, 1fr);
    }
}

.card-grid .card {
    list-style: none;
    position: relative;
}

.card-grid .card:before {
    content: "";
    display: block;
    padding-bottom: 115%;
    width: 100%;
}

.card-grid .card__background {
    background-size: cover;
    background-position: center;
    border-radius: var(--spacing-l);
    bottom: 0;
    filter: brightness(0.75) saturate(1.2) contrast(0.85);
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
    transform-origin: center;
    transform: scale(1) translateZ(0);
    transition: filter 200ms linear, transform 200ms linear;
}

.card-grid .card:hover .card__background {
    /*transform: scale(1.05) translateZ(0);*/
}

.card-grid .card-grid:hover>.card:not(:hover) .card__background {
    filter: brightness(0.5) saturate(0) contrast(1.2) blur(20px);
}

.card-grid .card__content {
    left: 0;
    padding: var(--spacing-l);
    position: absolute;
    top: 0;
}

.card-grid .card__category {
    color: var(--text-light);
    font-size: 0.9rem;
    margin-bottom: var(--spacing-s);
    text-transform: uppercase;
}

.card-grid .card__heading {
    color: var(--text-lighter);
    font-size: 1.9rem;
    text-shadow: 2px 2px 20px rgba(0, 0, 0, 0.2);
    line-height: 1.4;
    word-spacing: 100vw;
}

.blog-index__header-img {
    width: 100%;
    margin-top: 5em;
    margin-bottom: 5em;
    max-width: 285px;
    background: #ffffff36;
    box-shadow: 0px 0px 0px 0 rgb(185 183 183 / 21%), 0 0px 0px 0 rgb(205 203 203 / 54%);
    border-radius: 31px;
    padding: 1em;
}

.blog-index__section_contents {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 2em;
    width: 90%;
    margin: auto;
}

.blog-index__section-title-header {
    font-family: "Bebas Neue", cursive;
}

.course {
    background-color: #fff;
    box-shadow: 0 10px 10px rgb(0 0 0 / 20%);
    display: flex;
    max-width: 100%;
    padding: 0px;
    overflow: hidden;
    width: 100%;
    border-radius: 15px;
}

.course h6 {
    opacity: 0.6;
    margin: 0;
    letter-spacing: 1px;
    text-transform: uppercase;
}

.course h2 {
    letter-spacing: 1px;
    margin: 10px 0;
}

.course-preview {
    background-color: #ffffff;
    color: #fff;
    padding: 30px;
    max-width: 245px;
    border-color: #ffffff;
    border-style: solid;
    border-top-left-radius: 15px;
    border-bottom-left-radius: 15px;
    padding-left: 10px;
    height: 250px;
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding-bottom: 15px;
    padding-top: 15px;
    padding-right: 10px;
    width: 100%;
    background-repeat: no-repeat;
    background-position: center;
}

.course-preview a,
.course-preview h2,
.course-preview h6 {
    /*background-color: var(--main-color-purple);*/
    color: black !important;
    font-weight: bolder;
    /* background-color: white;*/
}

.course-preview a {
    color: #fff;
    display: inline-block;
    font-size: 14px;
    opacity: 0.6;
    margin-top: 30px;
    text-decoration: none;
}

.course-info {
    padding: 30px;
    position: relative;
    width: 100%;
}

.progress-container {
    position: absolute;
    bottom: 10px;
    left: 30px;
    text-align: left;
    width: 150px;
    font-size: 14px;
}

.blog-index__section_contents .btn {
    background-color: var(--main-color-purple);
    border: 0;
    border-radius: 50px;
    box-shadow: 0 10px 10px rgba(0, 0, 0, 0.2);
    color: #fff;
    font-size: 16px;
    padding: 12px 25px;
    position: absolute;
    bottom: 30px;
    right: 30px;
    letter-spacing: 1px;
}

.show-sidebar .blog-index__blog-menu-share {
    transform: translateX(0%);
}

.blog-index__blog-menu-share .toggle {
    padding-right: 30px;
    padding-top: 30px;
    position: absolute;
    left: 0;
    transform: translateX(-100%);
    outline: transparent;
}

.show-sidebar .blog-index__blog-menu-share {
    box-shadow: 10px 0 30px 0 rgba(0, 0, 0, 0.1);
}

.blog-index__blog-menu-share .side-inner {
    padding: 20px 0;
    height: 100vh;
    overflow-y: scroll;
    -webkit-overflow-scrolling: touch;
}

.blog-index__blog-menu-share .side-inner .share {
    padding: 50px;
}

.blog-index__blog-menu-share .side-inner .share h2 {
    font-size: 3rem;
    font-weight: 700;
    margin-bottom: 30px;
}

.blog-index__blog-menu-share .side-inner .share p {
    line-height: 1.8;
    margin-bottom: 30px;
}

.blog-index__blog-menu-share .side-inner .share form .form-control {
    background: none;
    border-radius: 0;
    height: 56px;
    margin-bottom: 20px;
}

.blog-index__blog-menu-share .side-inner .share form .form-control:active,
.blog-index__blog-menu-share .side-inner .share form .form-control:focus {
    outline: none;
    box-shadow: none;
}

.blog-index__blog-menu-share .side-inner .share form .btn {
    height: 56px;
    border-radius: 0;
    display: block;
    background: #fff;
    color: #000;
    font-weight: bold;
    text-transform: uppercase;
    font-size: 14px;
    letter-spacing: 0.2rem;
}

.blog-index__blog-menu-share .side-inner .share form input {
    border-radius: 8px;
    width: 100%;
}

.blog-index__blog-menu-share .blog-index__blog-menu-share__toggle {
    position: absolute;
    top: 80px;
    right: 30px;
    width: 110px;
    color: white;
    text-decoration: none;
    text-align: center;
    text-transform: uppercase;
    border-style: solid;
    border-width: 2px;
    border-color: white;
    padding: 5px;
    font-size: 16px;
    border-radius: 10px;
    background: var(--main-color-blue);
}

.card__counter {
    position: absolute;
    z-index: 2;
    bottom: 5px;
    background: white;
    border-radius: 50%;
    width: 45px;
    height: 45px;
    text-align: center;
    line-height: 3.6;
    font-weight: bolder;
    color: black;
    left: 5px;
}

.blog-index__blog-menu-vertical {
    width: 4.5rem;
    height: 95%;
    position: fixed;
    top: 50px;
}

.blog-index__alert-success {
    top: 65px;
    max-width: 250px;
    margin: auto;
    text-align: center;
}

.blog-index__blog-header {
    position: fixed;
    width: 100%;
    top: 0;
    box-shadow: 0 4px 8px 0 rgb(0 0 0 / 20%), 0 6px 20px 0 rgb(0 0 0 / 19%);
    background: var(--main-color-blue);
    z-index: 9;
}

.blog-index__blog-header.navbar-dark .navbar-nav .nav-link {
    color: rgb(255 255 255 / 84%);
}

.blog-index__blog-menu__toggle {
    display: none;
}

.blog-index__blog {
    font-family: 'Bebas Neue', cursive;
    color: white;
}

@media (max-width: 1300px) {
    .blog-index__section_contents .course {
        display: grid;
        text-align: left;
        margin: auto;
    }
    .blog-index__section_contents .course .course-preview {
        margin: auto;
        border-radius: 0px;
    }
    .blog-index__section_contents .course .course-preview h6 {
        position: absolute;
    }
    .blog-index__section_contents .btn {
        position: initial;
    }
    .blog-index__section_contents .progress-container {
        top: 0px;
        position: initial;
        padding-bottom: 1em;
        display: block;
        margin: 0px;
        width: 100%;
        text-align: center;
    }
}

@media (max-width: 645px) {
    .blog-index__section_contents {
        display: grid;
        grid-template-columns: 1fr;
    }
    .blog-index__section_contents .course {
        display: flex;
        text-align: left;
        margin: auto;
        flex-direction: column;
    }
    .blog-index__section_contents .course .course-preview {
        margin: auto;
    }
    .blog-index__section_contents .btn {
        position: initial;
        display: block;
    }
    .blog-index__blog-header {
        height: 50px;
    }
    .blog-index__blog-menu-share .blog-index__blog-menu-share__toggle {
        top: 6px;
        right: 15px;
        width: 85px;
        font-size: 12px;
        border-radius: 5px;
    }
    .blog-index__blog-menu__toggle {
        display: block;
        margin-top: 2px;
        margin-left: 5px;
    }
    .blog-index__blog {
        position: absolute;
        left: 55px;
    }
    .blog-index__blog-menu__offcanvas ul li a {
        color: black;
        font-size: 16px;
    }
}
