.dropzone {
    min-height: auto;
    border: none;
    background: transparent;
    padding: 0;
}

.dropzone-container {
    min-height: auto;
    border: none;
    background: transparent;
    padding: 0;
    position: absolute;
    width: 100%;
    margin: 0!important;
    height: 100%;
    display: block!important;
    cursor: pointer;
}

.dropzone-container .dropzone-container-paragraph {
    margin: 0px;
    position: absolute;
    top: 0;
    margin-top: 1em;
    line-height: 1;
    margin-left: 1em;
}

.dropzone-border {
    background: white;
    border-radius: 5px;
    border: 2px dashed rgb(0, 135, 247)!important;
    border-image: none;
    min-height: 150px;
    width: 100%;
    text-align: center;
    line-height: 10;
    position: relative;
    padding: 0;
}

.dz-preview {
    height: 160px;
    margin-top: 3em!important;
}

.dz-preview .dz-progress {
    display: none;
}

.dz-preview .dz-remove {
    line-height: 2;
}

.btn-close {
    border: none!important;
    background: transparent!important;
    cursor: pointer!important;
}