


main > section {
    padding-top: 2%;
    padding-bottom: 2%;
    height: 100%;
    text-align: center;
}

main > section > p{
    text-align: center;
    font-family: 'Bebas Neue', cursive;
    font-size: var(--main-font-size-title-lg);
    color: var(--main-color-blue);
}

main  section ul li{
    display: grid;
    text-align: center;
}
main  section ul li p{
    font-size: var(--main-font-size-content-lg);
}

main section ul li img{
    width: 250px;
}


main article{
    padding-top: 2em;
    max-width: 1050px;
    margin: auto;
    width: 100%;
}

main article p{
    text-align: center;
}
main article  ul{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    list-style: none;
    word-break: break-word;
}

main article  ul li{
    text-align: center;
    padding-top: 1em;
    padding-bottom: 1em;
}
main article  ul li img{
    width: 100px;
}

@media (max-width: 736px) {

}

@media (max-width: 645px) {
    main > section > p{
          font-size: var(--main-font-size-title-sm);
        word-break: break-word;
    }
    main  section ul li p{
        font-size: var(--main-font-size-content-sm);
    }
}

@media (max-width: 425px) {


}

@media (max-width: 1440px) {/*Laptop L*/

}
@media (max-width: 768px) {/*Tablet*/
    main article  ul{
        grid-template-columns: repeat(3, calc(100% / 3));
    }

}



@media (max-width: 425px) {/*Mobile L*/
    main article  ul{
        grid-template-columns: repeat(1, calc(100% / 1));
        padding-left: 5%;
        padding-right: 5%;
    }

}
@media (max-width: 375px) {/*Mobile M*/

}
@media (max-width: 320px) {/*Mobile S*/

}
