<div class="grid-colum-autoflow adervc34435dfdf">
    <div>
        <p class="mb-0 mt-0">Sin utilizar Flex</p>
        <div>
            <div class="column bg-red m-auto">1era Columna</div>
            <div class="column bg-green m-auto">2da Columna</div>
        </div>
    </div>
    <div>
        <p class="mb-0 mt-0">Utilizando Flex</p>
        <p class="mb-0 mt-1">"display:flex"</p>
        <div
            class="mt-0"
            style="display: flex;justify-content: center;">
            <div class="column bg-red">1era Columna</div>
            <div class="column bg-green">2da Columna</div>
        </div>
    </div>
</div>
<style type="text/stylesheet">
    /*html{
        margin-top: 0px;
    }
    *{
        margin-top: 1rem;
        font-family: sans-serif;
    }*/
    .adervc34435dfdf {
        width: 520px;
        height: 235px;
        position: absolute;
        bottom: -32px;
        left: 0;
    }
   .adervc34435dfdf  p{
        text-align: center;
        font-weight: bolder;
    }
   .adervc34435dfdf.grid-colum-autoflow{
        display: grid;
        grid-auto-flow: column;
    line-height: normal;
    }
    .adervc34435dfdf  .column{
        border-style: solid;
        border-width: 1px;
        width: 135px;
        text-align: center;
        padding-top: 0.8rem;
        padding-bottom: 0.8rem;
    }
    .adervc34435dfdf  .bg-red{
        background-color: rgb(228, 25, 25);
    }
    .adervc34435dfdf  .bg-green{
        background-color: rgb(47, 212, 97);
    }
   .adervc34435dfdf   .m-auto{
        margin: auto;
    }
    .adervc34435dfdf  .mb-0{
        margin-bottom: 0px;
    }
    .adervc34435dfdf  .mt-0{
        margin-top: 0px;
    }
   .adervc34435dfdf   .mt-1{
        margin-top: 0.5em;
    }
</style>

<style type="text/stylesheet">
    #content{
        display:flex;
    }
</style>
<div id="content">
    <div>1era Columna</div>
    <div>2da Columna</div>
</div>
