<style type="text/css">
    #J256FI3CNejtZnk7345663{
        display:block;
        width: 96%;
         margin: auto;
         margin-top: 5px;
        text-align: justify
    }
</style>
<div id="J256FI3CNejtZnk7345663">
    <ul>
        <li>
            <span>Arrange (Organizar/Inicializa)</span>
            <ul>
                <li>Arrange (Organizar/Inicializa)</li>
            </ul>
        </li>
        <li>
            <span>Act (Actuar)</span>
            <ul>
                <li>Arrange (Organizar/Inicializa)</li>
            </ul>
        </li>
        <li>
            <span>Assert (Confirmar/Comprobar)</span>
            <ul>
                <li>Arrange (Organizar/Inicializa)</li>
            </ul>
        </li>
    </ul>
</div>
