<div class="page-content-wrapper ">
    <div class="content sm-gutter">
        <div class="container-fluid padding-25 sm-padding-10">
            <div class="row">
                <!--jersson-->
                <div class="container-fluid container-fixed-lg  bg-white">
                    <div class="panel panel-transparent">
                        <div class="panel-heading">
                            <div class="row text-right" id="codemirror-add-button"> <button id="codemirror-delete" class="btn btn-danger " style="float:left"><i class="fa fa-file"></i> Eliminar
                                </button> <button id="codemirror-rename" class="btn btn-social " style="float:left"><i
                                        class="fa fa-pencil-square"></i> Renombrar </button> <button id="codemirror-copy" class="btn btn-warning" style="float:left"><i
                                        class=" fa fa-copy"></i> Copiar </button> <button id="codemirror-move" class="btn btn-info" style="float:left"><i class=" fa fa-send"></i> Mover
                                </button> <button id="codemirror-upload" class="btn btn-success" style="float:left"><i
                                        class=" fa fa-upload"></i> Subir archivo(s) </button> <button id="show-refresh" class="btn btn-social" onclick="show_refresh();"><i class="fa fa-refresh"></i>
                                    Refrescar </button> <button id="show-modal" class="btn btn-primary "><i
                                        class="fa fa-plus"></i> Agregar </button>
                            </div>
                            <div class="panel-title"> </div>
                            <div class="clearfix"></div>
                        </div>
                        <div class="panel-body">
                            <div class="">
                                <div class="row" id="dos">
                                    <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
                                        <div class="panel panel-default">
                                            <div class="panel-heading">
                                                <div class="panel-title"> Directorio </div>
                                            </div>
                                            <div class="panel-body">
                                                <p>Selecciona un archivo para poder visualizarlo para editar. </p>
                                                <div class="" id="uno">
                                                    <div class="drag-tree"> </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-lg-8 col-md-8 col-sm-12 col-xs-12"> <textarea id="code"></textarea>
                                        <div class="row text-right" style="margin-top: 1em;display:none" id="codemirror-button"> <button id="codemirror-edit" class="btn btn-success "><i class="fa fa-edit"></i> Editar </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!--jersson-->
            </div>
        </div>
    </div>
    <div class="container-fluid container-fixed-lg footer">
        <div class="copyright sm-text-center">
            <p class="small no-margin pull-left sm-pull-reset"> <span class="hint-text">Copyright &copy; 2018
                </span> <span class="font-montserrat">Jersson</span>. <span class="hint-text">Todos los derechos
                    reservados. </span> <span class="sm-block"><a href="#" class="m-l-10 m-r-10">Terminos de
                        uso</a> | <a href="#" class="m-l-10">Políticas y Privacidad </a></span> </p>
            <p class="small no-margin pull-right sm-pull-reset"> <a href="#">Hand-crafted</a> <span
                    class="hint-text">&amp; Hecho con amor ®</span> </p>
            <div class="clearfix"></div>
        </div>
    </div>
</div>
</div>
<div class="modal fade stick-up" id="addNewAppModal" tabindex="-1" role="dialog" aria-labelledby="addNewAppModal"
    aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header clearfix "> <button type="button" class="close" data-dismiss="modal"
                    aria-hidden="true"><i class="pg-close fs-14"></i>
                </button>
                                            <h4 class="p-b-5"><span class="semi-bold">Nuevo</span> archivo</h4>
                                        </div>
                                        <div class="modal-body">
                                            <p class="small-text">Agregar nuevo archivo usando este formulario</p>
                                            <form role="form">
                                                <div class="row">
                                                    <div class="col-sm-12">
                                                        <div class="form-group form-group-default"> <label>Nombre archivo</label> <input id="appfile" type="text" class="form-control" placeholder="tu archivo"> </div>
                                                    </div>
                                                </div>
                                                <div class="row">
                                                    <div class="col-sm-12">
                                                        <div class=""> <label><b>Tipo</b></label> <select class="" style="widht:100%" id="appTipo" onchange="elegirTipoArchivo(this);">
                                    <option value="folder">Carpeta</option>
                                    <option value="file">Archivo</option>
                                </select> </div>
                                                    </div>
                                                </div>
                                                <div class="row" style="margin-top: 1em;">
                                                    <div class="col-sm-12">
                                                        <div class="form-group form-group-default"> <label>Ubicación</label> <input id="appDir" type="text" class="form-control" placeholder="tu ubicación"> <small class="text-danger"><em>¡Terminar con / !</em></small> </div>
                                                    </div>
                                                </div>
                                            </form>
                                        </div>
                                        <div class="modal-footer"> <button id="add-app" type="button" class="btn btn-primary  btn-cons">Agregar</button> <button type="button" data-dismiss="modal" class="btn btn-cons ">Cerrar</button> </div>
                                    </div>
                                </div>
                            </div>
                            <div class="modal fade slide-up disable-scroll" id="modalSlideUp" tabindex="-1" role="dialog" aria-hidden="false">
                                <div class="modal-dialog ">
                                    <div class="modal-content-wrapper">
                                        <div class="modal-content">
                                            <div class="modal-header clearfix text-left"> <button type="button" class="close" data-dismiss="modal" aria-hidden="true"><i class="pg-close fs-14"></i> </button>
                                                <h5>
                                                    Editar<span class="semi-bold"> file</span> </h5>
                                                <p class="p-b-10">Editar file usando este formulario</p>
                                            </div>
                                            <div class="modal-body">
                                                <form role="form">
                                                    <div class="row" id="row-code-tipo">
                                                        <div class="col-sm-12">
                                                            <div class=""> <label><b>Tipo</b></label> <select class="" style="widht:100%" id="appTipo" onchange="elegirTipoArchivo(this);">
                                        <option value="folder">Carpeta</option>
                                        <option value="file">Archivo</option>
                                    </select> </div>
                                                        </div>
                                                    </div>
                                                    <div class="form-group form-group-default">
                                                        <div class="row">
                                                            <div class="col-sm-12">
                                                                <div class=""> <label>Ubicación
                                            archivo</label> <input id="appDir" type="text" class="form-control" placeholder="tu ubicación del archivo"> </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </form>
                                            </div>
                                            <div class="modal-footer"> <button type="button" class="btn btn-primary"><i
                            class="fa fa-edit"></i>Editar</button> </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="modal fade slide-up disable-scroll" id="modalSlideUpRename" tabindex="-1" role="dialog" aria-hidden="false">
                                <div class="modal-dialog ">
                                    <div class="modal-content-wrapper">
                                        <div class="modal-content">
                                            <div class="modal-header clearfix text-left"> <button type="button" class="close" data-dismiss="modal" aria-hidden="true"><i class="pg-close fs-14"></i> </button>
                                                <h5>Renombrar<span class="semi-bold">
                            file</span> </h5>
                                                <p class="p-b-10">Renombrar file usando este formulario</p>
                                            </div>
                                            <div class="modal-body">
                                                <form role="form">
                                                    <div class="form-group form-group-default">
                                                        <div class="row">
                                                            <div class="col-sm-12">
                                                                <div class=""> <label>Nombre actual
                                            archivo</label> <input id="appActualFile" type="text" class="form-control" placeholder="tu nombre actual del archivo"> </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="form-group form-group-default">
                                                        <div class="row">
                                                            <div class="col-sm-12">
                                                                <div class=""> <label>Nombre nuevo archivo</label> <input id="appNuevoFile" type="text" class="form-control" placeholder="tu nombre nuevo del archivo"> </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="row" id="row-code-tipo">
                                                        <div class="col-sm-12">
                                                            <div class=""> <label><b>Tipo</b></label> <select class="" style="widht:100%" id="appTipo" onchange="elegirTipoArchivo(this);">
                                        <option value="folder">Carpeta</option>
                                        <option value="file">Archivo</option>
                                    </select> </div>
                                                        </div>
                                                    </div>
                                                    <div class="form-group form-group-default">
                                                        <div class="row">
                                                            <div class="col-sm-12">
                                                                <div class=""> <label>Ubicación
                                            archivo</label> <input id="appDir" type="text" class="form-control" placeholder="tu ubicación del archivo"> </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </form>
                                            </div>
                                            <div class="modal-footer"> <button type="button" class="btn btn-primary"><i
                            class="fa fa-pencil-square"></i>Renombrar</button> </div>
                                        </div>
                                    </div>
                                </div>
                            </div>